### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Course files
Digital-Nurture-JavaFSE-main
DN 5.0-Deepskilling-Handbook-Java-FSE-Angular-2.pdf
dn5_weekly_plan.html

Angular/node_modules/.pnpm/@algolia+abtesting@1.18.0/node_modules/@algolia/requester-browser-xhr/package.json
Angular/node_modules
Angular/dist
Angular/.angular
Angular/.vscode/